.form-signin {
  max-width: 330px;
  padding: 0px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 12px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: 36px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 12px;
  font-size: 12px;
  margin-bottom: 12px;
}
.form-signin .form-control:focus {
  z-index: 2;
}

.form-instruction {
  margin-top: 12px;
}

.white-container {
    background-color: white;
    padding: 12pt;
    margin: 12pt 0;
    height: auto;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    border: 1px solid #ccc;
    border-radius: 4px;
}

.optional-tag {
  font-size: 12px;
  color: #bbb;
}

.form-link {
  font-size: 12px;
  margin-top: 4px;
}

.submit-button {
  margin-top: 12px;
}

.has-feedback label~.form-control-feedback {
  top: 32px;
}

.color-aaa {
  color: #aaa;
}

.color-bbb {
  color: #bbb;
}

.required:after {
  content: '*';
}

.email-address:before {
   content: "Email address: ";
}

label {
  font-size: 12px;
  font-weight: bold;
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  margin-right: 6px;
}

.block {
  display: block;
}

.field-icon {
  margin-top: 4px;
}

.btn-lg {
  padding: 6px 12px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}

.btn-inline {
  margin-right: 6px;
  margin-bottom: 0px;
}

.width-200 {
  max-width: 200px;
  display: inline;
  margin-right: 6px;
}