body {
  padding: 24px;
  background-color: #eee;
}

.page-container {
    background-color: white;
    padding: 12pt;
    height: auto;
}

.navbar {
  margin-bottom: 0px;
}

.navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 0px;
  border: 0px solid transparent;
}

.navbar-default {
  background-color: #eee;
  border-color: #eee;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #B01030;
  background-color: transparent;
}

.navbar-brand:hover,
.navbar-brand:focus {
  text-decoration: none;
}

.navbar-default .navbar-brand {
  color: Crimson;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
  color: #555;
  background-color: #fff;
}

.navbar-icon {
  padding-right: 6px;
}

.nav>li>a {
  padding-right: 15px;
}

.navbar-nav>li>a {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 24px;
  padding-left: 18px;
  margin-top: 18px;
  border-radius: 12px 12px 0 0;
}

.navbar-brand {
  float: left;
  height: 48px;
  padding: 0px 24px;
  padding-top: 0px;
  padding-right: 24px;
  padding-bottom: 0px;
  padding-left: 0px;
  font-size: 54px;
  line-height: 20px;
  color: Crimson;
  font-family: Tahoma, Verdana, sans-serif;
  font-weight: bold;
}