body {
  padding: 6px 24px 24px 24px;
  background-color: #eee;
}

.row {
  margin-right: 0px;
  margin-left: 0px;
}

.page-container {
    background-color: white;
    padding: 24px;
    height: auto;
}

.navbar {
  margin-bottom: 0px;
}

.navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 0px;
  border: 0px solid transparent;
}

.navbar-default {
  background-color: #eee;
  border-color: #eee;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #B01030;
  background-color: transparent;
}

.navbar-brand:hover,
.navbar-brand:focus {
  text-decoration: none;
}

.navbar-default .navbar-brand {
  color: Crimson;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
  color: #555;
  background-color: #fff;
}

.navbar-icon {
  padding-right: 6px;
}

.nav>li>a {
  padding-right: 15px;
}

.navbar-nav>li>a {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 24px;
  padding-left: 18px;
  margin-top: 18px;
  border-radius: 12px 12px 0 0;
}

.navbar-brand {
  float: left;
  height: 48px;
  padding: 0px 24px 0px 0px;
  padding-top: 0px;
  padding-right: 24px;
  padding-bottom: 0px;
  padding-left: 0px;
  font-size: 48px;
  line-height: 48px;
  color: Crimson;
  font-family: Tahoma, Verdana, sans-serif;
  font-family: 'Dosis', sans-serif;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-family: 'Comfortaa', cursive;
  font-weight: bold;
}

@media (min-width: 0px) {
  .navbar-nav {
    float: left;
    margin: 0;
  }
  .navbar-nav > li {
    float: left;
  }
  .navbar-nav > li > a {
    padding-top: 6px;
    padding-bottom: 6px;
  }
  .navbar-nav.navbar-right:last-child {
    margin-right: -15px;
  }
}

.color-777 {
  color: #777;
}

.user-dropdown {
  padding-right: 0px;
}

.user-dropdown:focus {
  text-decoration: none;
  color: #333;
}

.user-dropdown:hover {
  text-decoration: none;
  color: #333;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: right;
  min-width: 128px;
  padding: 6px 0px 6px 0px;
  margin: 0px;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
}