#sidebar {
  padding-left: 0px;
}

#owner_photo {
	max-width: 100%;
	margin-bottom: 12px;
}

#owner_name {
	font-size: 18px;
	font-family: 'Lato', sans-serif;
	margin-bottom: 12px;
	font-weight: 400;
}