Django==1.7.1
Jinja2==2.7.3
MarkupSafe==0.23
Pillow==2.5.3
Unidecode==0.04.16
argparse==1.2.1
django-nvd3==0.7.7
pbr==0.10.0
psycopg2==2.5.4
python-dateutil==2.2
python-nvd3==0.13.5
python-slugify==0.0.9
pytz==2014.7
six==1.8.0
stevedore==1.1.0
virtualenv==1.9.1
virtualenv-clone==0.2.5
virtualenvwrapper-win==1.1.5
yolk==0.4.3