Django==1.7.1
Fabric==1.10.0
Jinja2==2.7.3
MarkupSafe==0.23
Pillow==2.6.1
Unidecode==0.04.16
dj-database-url==0.3.0
dj-static==0.0.6
django-nvd3==0.7.7
django-toolbelt==0.0.1
ecdsa==0.11
gunicorn==19.1.1
paramiko==1.15.1
psycopg2==2.5.4
pycrypto==2.6.1
python-nvd3==0.13.5
python-slugify==0.0.9
static3==0.5.1