<div class="row">
	{% if bowl_form %}
        {% include "healthcat/bowl_form.html" with pageToRender="/healthcat/profile" %}
    {% elif edit_bowl_form %}
        {% include "healthcat/edit_bowl_form.html" with pageToRender="/healthcat/profile" %}
    {% else %}
	    <form id="bowl_form" class="bowl" onsubmit="bowl_form(event, 'bowl_form', '{% url 'bowl' %}')" >
		    {% csrf_token %}
		    <h2> 
		    	<button class="add_button"> 
		    		Add Bowl 
		    		<i class='glyphicon glyphicon-plus header_icon'></i> 
		    	</button> 
		    </h2>
		</form>
	{% endif %}
</div>