{% extends 'healthcat/index.html' %}

    {% block title %} Change Password {% endblock %}

    {% block styles %}
        <link href="/static/css/form.css" rel="stylesheet">
    {% endblock %} 

    {% block user_dropdown %} {% endblock user_dropdown %}
    {% block logged_in_navbar %} {% endblock logged_in_navbar %}

    {% block body %}
        <div class="container">

            {% if form.is_multipart %}
                <form class="form-signin" role="form" method="POST" enctype="multipart/form-data" action="{% url 'register' %}">
            {% else %}
                <form class="form-signin" role="form" method="POST" action="{% url 'register' %}">
            {% endif %}

                    <div class="white-container">

                        {% for field in form.visible_fields %}
                            <label for='{{ field.id_for_label }}' class={{ field.css_classes }}> {{ field.label }} </label>
                            {% if field.field.icon_name and field.field.tooltip %}
                                    <i class="{{ field.field.icon_name }} color-aaa" rel="tooltip" title="{{ field.field.tooltip }}"></i>
                            {% elif field.field.icon_name %}
                                    <i class="{{ field.field.icon_name }} color-aaa"></i>
                            {% endif %}
                            {% for error in field.errors %}
                                            <span class='text-danger'> {{ error }} </span>
                            {% endfor %}
                            {{ field }}
                        {% endfor %}

                        <button class="btn btn-lg btn-primary btn-block" type="submit"> Change Password </button>
                        <a href="{% url 'home' %}">Cancel</a>
                        {% csrf_token %}

                    </div>
                        
                </form>

        </div> <!-- /container -->
    {% endblock %}