<div class="row">
	{% if bowl_form and bowl_form_id == bowl.id|stringformat:"s" %}
        {% include "healthcat/edit_bowl_form.html" with pageToRender="/healthcat/profile" %}
    {% else %}
	    <form id="{{ bowl.id }}_bowl_name" class="bowl" onsubmit="add_bowl_form(event, '{{ bowl.id }}_bowl_name', '{% url 'edit_bowl' %}')" >
		    {% csrf_token %}
		    <h2> 
		    	<button class="add_button"> 
		    		{{ bowl.name }} 
		    		<i class='glyphicon glyphicon-edit header_icon'></i>
		    	</button> 
		    </h2>
		    <input type = "hidden" name = "bowl_id" value={{ bowl.id }}>
		    <span class="pull-right bowl_ip" > KibbleControl {{ bowl.serial_number }} </span>
		</form>
	{% endif %}
</div>