<div id="myModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title"> Error - Connection timed out </h4>
      </div>
      <div class="modal-body">
        <p> Failed to connect to KibbleControl Bowl <span id="serial_number"> {{ serial_number }} </span></p>
        <p> Please verify you entered the correct serial number and press the button on the bowl within 60 seconds. </p>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->