<form class="form-pet form-horizontal" role="form" method="POST" action="{% url 'add_feeding_interval' %}">
        {% for field in feeding_interval_form.visible_fields %}
            {{ field }}
        {% endfor %}

        <input type="hidden" name="bowl_id" value={{ bowl_id }} /> <!-- Todo use {{ pet.id }} -->
        <input type="hidden" name="pet_id" value={{ pet_id }} /> <!-- Todo use {{ pet.id }} -->
        
        <button class="btn btn-lg btn-primary btn-inline" type="submit"> Submit </button>

        <a href="{% url 'profile' %}"> Cancel </a>
                
        {% csrf_token %}

    </form>
