<h4> Feeding Intervals </h4>
<div id="{{ pet.id }}_feeding_intervals" class="feeding_intervals_table">
    <div class="row feeding_interval_row">
        <div class="col col-xs-4 feeding_interval_col">
            Start
        </div>
        <div class="col col-xs-4 feeding_interval_col">
            End
        </div>
        <div class="col col-xs-4 feeding_interval_col">
            Amount (g)
        </div>
    </div>
    {% for feeding_interval in pet.feeding_interval.all %}
        <div class="row feeding_interval_row" id="{{ bowl.id }}_{{ pet.id }}_{{ feeding_interval.id }}_feeding_interval">
            <div class="col col-xs-4 feeding_interval_col">
                {{ feeding_interval.start|time:"g:i A" }}
            </div>
            <div class="col col-xs-4 feeding_interval_col">
                {{ feeding_interval.end|time:"g:i A" }} 
            </div>
            <div class="col col-xs-4 feeding_interval_col">
                {{ feeding_interval.amount }}
                {% include "healthcat/delete_feeding_interval_button.html" with pageToRender="/healthcat/profile" %}
                {% include "healthcat/edit_feeding_interval_button.html" with pageToRender="/healthcat/profile" %}

            </div>
        </div>
    {% endfor %}
    <div class="row feeding_interval_row" id="{{ bowl.id }}_{{ pet.id }}_feeding_interval_row">
        <div class="col col-xs-12 add_feeding_interval_col">
        {% include "healthcat/add_feeding_interval_button.html" with pageToRender="/healthcat/profile" %}
    </div>
</div>