<tr>
<form class="form-table" role="form" method="POST" action="{% url 'add_feeding_interval' %}">
    {% for field in feeding_interval_form.visible_fields %}
        <td> {{ field }} </td>
    {% endfor %}

    <input type="hidden" name="bowl_id" value={{ bowl_id }} /> <!-- Todo use {{ pet.id }} -->
    <input type="hidden" name="pet_id" value={{ pet_id }} /> <!-- Todo use {{ pet.id }} -->
            
    {% csrf_token %}
</tr>
<tr>
    <td> <a href="{% url 'profile' %}"> Cancel </a> </td>
    <td colspan="2"> 
        <button class="btn btn-lg btn-primary btn-block" type="submit"> Submit </button> 
    </td>

    
</tr>
</form>
