<form class="form-pet form-horizontal col col-xs-12 add_feeding_interval_col" role="form" method="POST" action="{% url 'add_feeding_interval' %}">
    {% for error in feeding_interval_form.non_field_errors %}
        <div class="row">
            <span class='text-danger'> {{ error }} </span>
        </div>
    {% endfor %}
    <div class="row">
        {% for field in feeding_interval_form.visible_fields %}
            <div class="col col-xs-4">
            {{ field }}
            </div>
        {% endfor %}
    </div>
        <input type="hidden" name="bowl_id" value={{ bowl_id }} /> <!-- Todo use {{ pet.id }} -->
        <input type="hidden" name="pet_id" value={{ pet_id }} /> <!-- Todo use {{ pet.id }} -->
        
        <button class="btn btn-lg btn-primary btn-inline" type="submit"> Submit </button>

        <a href="{% url 'profile' %}"> Cancel </a>
                
        {% csrf_token %}

</form>
