<!DOCTYPE html>

<html lang='en'>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="http://getbootstrap.com/favicon.ico">
    <title>
        {% block title %} HealthCat {% endblock %}
    </title>
    <!-- Custom Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700|Comfortaa:700' rel='stylesheet' type='text/css'>

    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
        
    <!-- Custom styles for this template -->
    <link href="/static/css/navbar.css" rel="stylesheet">
    
    {% block styles %}
        <!-- insert page specific javascript here -->
    {% endblock %}
</head>

<body>
        <!-- Static navbar -->
        {% block user_dropdown %}
            <div class="row">
                <div class="dropdown pull-right">
                    <a href="#" class="dropdown-toggle color-777 user-dropdown" data-toggle="dropdown"> {{user.username}} <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="{% url 'home' %}"> Profile </a></li>
                        <li><a href="{% url 'statistics' %}"> Statistics </a></li>
                        <li class="divider"></li>
                        <li><a href="{% url 'edit_profile' %}"> Edit Profile </a></li>
                        <li><a href="{% url 'change_password' %}"> Change Password </a></li>
                        <li class="divider"></li>
                        <li><a href="{% url 'logout' %}"> Sign Out </a></li>
                    </ul>
                </div>
            </div>
        {% endblock user_dropdown %}
        <div class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
                <a class="navbar-brand" href="/healthcat/"> HealthCat </a>
            </div>
            {% block logged_in_navbar %}
                <ul class="nav navbar-nav">
                    <li {% block profileActive %}{% endblock %} > <a href="{% url 'home' %}"> <i class="glyphicon glyphicon-user navbar-icon"></i> Profile </a></li>
                    <li {% block statisticsActive %}{% endblock %} > <a href="{% url 'statistics' %}"> <i class="glyphicon glyphicon glyphicon-stats navbar-icon"></i> Statistics </a></li>
                    
                </ul>
            {% endblock logged_in_navbar %}
        </div><!-- navbar -->

    <!-- Body -->
    {% block body %}
        <!-- insert page specific content here -->
    {% endblock body %}
    <!-- Body -->

    <!-- Javascript -->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="/static/js/ie10-viewport-bug-workaround.js"></script>
    <script src="/static/js/javascript.js"></script>
    {% block javascript %}
        <!-- insert page specific javascript here -->
    {% endblock %}
</body>
</html>