{% extends 'healthcat/index.html' %}

{% block title %} 
  Log In 
{% endblock %}

{% block styles %}
  <link href="/static/css/form.css" rel="stylesheet">
{% endblock %} 

{% block user_dropdown %} {% endblock user_dropdown %}
{% block logged_in_navbar %} {% endblock logged_in_navbar %}

{% block body %}
  <div class="container">
    <form name="signinForm" class="form-signin" role="form" method="post" action="{% url 'login' %}">
      <div class="white-container">
        {% if form.errors %}
          <p style="color:red">
            Incorrect email and password.
          </p>
        {% endif %}

        <label> Email * </label> 
        <input name="username" type="email" class="form-control" required autofocus>


        <label> Password * </label> <a class="pull-right form-link" href="{% url 'reset_password' %}"> Forgot? </a>  
        <input name="password" type="password" class="form-control" required>

        <button class="btn btn-lg btn-primary btn-block submit-button" type="submit"> Log In </button>

        <div class="form-instruction">
          Don't have an account yet? <a href="{% url 'register' %}">Register</a>
        </div>

        <input type="hidden" name="next" value="{{ next }}" />

        {% csrf_token %}

      </div>

    </form>
  

  </div> <!-- /container -->
{% endblock body %}
