{% extends 'healthcat/index.html' %}

{% block title %} 
    Notifications 
{% endblock %}

{% block notificationsActive %} 
        class="active" 
{% endblock %}

{% block styles %} 
        <link href="/static/css/notification.css" rel="stylesheet">
{% endblock styles %}

<!--Body -->
{% block body %}
    <div class="page-container">

        <div class="row">
            <div class="col-xs-12">
                <div class="row">
                    <div id="notifications_list">
                      {% include "healthcat/notifications_list.html" with pageToRender="/healthcat/notifications" %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}
{% block javascript %}
    <script src="/static/js/notifications.js"></script>
{% endblock javascript %}