{% extends 'healthcat/index.html' %}

{% block title %} 
    Notifications 
{% endblock %}

{% block notificationsActive %} 
        class="active" 
{% endblock %}

<!--Body -->
{% block body %}
    <div class="page-container">

        <div class="row">
            <div class="col-xs-12">
                <div class="row">
                    <div id="notifications_list">
                      {% include "healthcat/notifications_list.html" with pageToRender="/healthcat/notifications" %}
                    </div>
                    <p> Rocky ate 5 grams from Cat Bowl <span class="pull-right"> 08:52PM 12/03/14 </span> </p>
                    <p> New RFID detected: A6C2GB1F87E12D <span class="pull-right"> 12:34PM 11/29/14 </span> </p>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}
{% block javascript %}
    <script src="/static/js/notifications.js"></script>
{% endblock javascript %}