<div id="{{ pet.id }}_pet_profile">
    <div class="row">
        <div class="col col-md-3 col-xs-3">
            <div class="pet_photo">
            {% if pet.photo %}
                <img class="pet_photo" id="{{ pet.id }}_photo" src={% url 'get_pet_photo' pet.id %} alt=" {{ pet.name }}'s photo" title="{{ pet.name }}'s photo" style="border: 2px solid {{ pet.color }}" />
            {% else %}
                <img class="pet_photo" id="{{ pet.id }}_photo" src="/static/images/default_pet_photo.jpg" alt="default pet photo" title="default pet photo" style="border: 2px solid {{ pet.color }}"/>
            {% endif %}
            <div class="color_box" style="background-color: {{ pet.color }};"></div>
            </div>
        </div>
        <div class="col col-md-8 col-xs-8">
            <div class="pet_info_container">
                {% if pet_form and bowl_id == bowl.id|stringformat:"s" and pet_id == pet.id|stringformat:"s" %}
                    {% include "healthcat/edit_pet_form.html" with pageToRender="/healthcat/profile" %}
                {% else %}
                    <div id="{{ pet.id }}_pet_info">
                        <ul class="pet_info_list">
                            <li>
                                {% include "healthcat/edit_pet_button.html" with pageToRender="/healthcat/profile" %}
                            </li>
                            <li>
                                RFID Tag #: {{ pet.rfid }}
                            </li>
                        </ul>
                        {% include "healthcat/feeding_intervals_table.html" with pageToRender="/healthcat/profile" %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>