<div class="row">
    {% for pet in bowl.pets.all %}
        <div class="row">
            <div class="col col-md-3 col-xs-3">
                {% if pet.photo %}
                    <img class="pet_photo" id="{{ pet.id }}_photo" src={% url 'get_pet_photo' pet.id %} alt=" {{ pet.name }}'s photo" title="{{ pet.name }}'s photo" />
                {% else %}
                    <img class="pet_photo" id="{{ pet.id }}_photo" src="/static/images/default_pet_photo.jpg" alt="default pet photo" title="default pet photo" />
                {% endif %}
            </div>
            <div class="col col-md-8 col-xs-8">
                <div class="pet_info_container">
                    {% if pet_form and bowl_id == bowl.id|stringformat:"s" and pet_id == pet.id|stringformat:"s" %}
                        {% include "healthcat/edit_pet_form.html" with pageToRender="/healthcat/profile" %}
                    {% else %}
                        <div id="{{ pet.id }}_pet_info">
                            <ul class="pet_info_list">
                                <li>
                                    {% include "healthcat/edit_pet_button.html" with pageToRender="/healthcat/profile" %}
                                </li>
                                <li>
                                    RFID Tag #: {{ pet.rfid }}
                                </li>
                            </ul>
                            <h4> Feeding Intervals </h4>
                            <div id="{{ pet.id }}_feeding_intervals" class="feeding_intervals_table">
                                <div class="row feeding_interval_row">
                                    <div class="col col-xs-4 feeding_interval_col">
                                        Start
                                    </div>
                                    <div class="col col-xs-4 feeding_interval_col">
                                        End
                                    </div>
                                    <div class="col col-xs-4 feeding_interval_col">
                                        Amount (g)
                                    </div>
                                </div>
                                {% for feeding_interval in pet.feeding_interval.all %}
                                    <div class="row feeding_interval_row" id="{{ bowl.id }}_{{ pet.id }}_{{ feeding_interval.id }}_feeding_interval">
                                        <div class="col col-xs-4 feeding_interval_col">
                                            {{ feeding_interval.start|time:"g:i A" }}
                                        </div>
                                        <div class="col col-xs-4 feeding_interval_col">
                                            {{ feeding_interval.end|time:"g:i A" }} 
                                        </div>
                                        <div class="col col-xs-4 feeding_interval_col">
                                            {{ feeding_interval.amount }}
                                            {% include "healthcat/edit_feeding_interval_button.html" with pageToRender="/healthcat/profile" %}
                                        </div>
                                    </div>
                                {% endfor %}
                                <div class="row feeding_interval_row" id="{{ bowl.id }}_{{ pet.id }}_feeding_interval_row">
                                    <div class="col col-xs-12 feeding_interval_col">
                                    {% include "healthcat/add_feeding_interval_button.html" with pageToRender="/healthcat/profile" %}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
</div> <!-- row -->