<div id="myModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title"> Connection Instructions </h4>
      </div>
      <div class="modal-body">
        <p> Attempting to pair with KibbleControl Bowl <span id="serial_number">{{ serial_number }}</span> &hellip;</p>
        <p> Please press the red square 'Connect' button on the back of your KibbleControl Bowl &hellip;</p>
        <img src="/static/images/push_button.gif" alt="Push Button">
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="/static/js/is_bowl_connected.js"></script>