{% extends 'healthcat/index.html' %}

{% block title %} 
    Profile 
{% endblock title %}

{% block styles %} 
    <link href="/static/css/tab.css" rel="stylesheet">
{% endblock styles %}

{% block profileActive %} 
        class="active" 
{% endblock profileActive %}

<!--Body -->
{% block body %}
    <div class="page-container">
        <div id="sidebar" class="col-sm-2 col-md-2">

            {% if owner.photo %}
                <img id="owner_photo" src={% url 'get_owner_photo' owner.user.id %} alt=" {{ owner.user.first_name }}'s photo" title="{{ owner.user.first_name }}'s photo" />
            {% else %}
                <img id="owner_photo" src="/static/images/default_owner_photo.jpg" alt="default owner photo" title="default owner photo" />
            {% endif %}

            <div id='owner_name' class='owner_info'> {{ owner.user.first_name }} {{ owner.user.last_name }} </div>
            <div class='owner_info'> {{ owner.zip_code }} </div>

        </div> <!-- sidebar -->

        <div class="row">
            <div class="col-sm-9 col-sm-offset-1 col-md-9 col-md-offset-1">

                {% for bowl in bowls %}
                    <div id="{{ bowl.id }}_bowl_name"> 
                        <h2 class="header2 color-555" onClick="add_edit_bowl_form( '{{ bowl.id }}', '{% url 'add_bowl_form' %}' );" style="cursor: pointer; cursor: hand;"> {{ bowl.name }} <i class='glyphicon glyphicon-edit header_icon'></i> </h2>
                        <span class="pull-right bowl_ip" > KibbleControl {{ bowl.ip_address }} </span>
                    </div>
                    <hr>
                    <div class="pets_container">
                        <div class="row">
                            {% for pet in pets %}
                                <div class="row">
                                    <div class="col col-md-3 col-xs-3">
                                        {% if pet.photo %}
                                            <img class="pet_photo" id="{{ pet.id }}_photo" src={% url 'get_pet_photo' pet.id %} alt=" {{ pet.name }}'s photo" title="{{ pet.name }}'s photo" />
                                        {% else %}
                                            <img class="pet_photo" id="{{ pet.id }}_photo" src="/static/images/default_pet_photo.jpg" alt="default pet photo" title="default pet photo" />
                                        {% endif %}
                                    </div>
                                    <div class="col col-md-8 col-xs-8">
                                        <div class="pet_info_container">
                                            <div id="{{ pet.id }}_pet_info">
                                                <ul class="pet_info_list">
                                                    <li>
                                                        <h3 class="header3 color-555" onClick="add_edit_pet_form( '{{ pet.id }}', '{% url 'edit_pet' %}'  );" style="cursor: pointer; cursor: hand;"> {{ pet.name }} <i class='glyphicon glyphicon-edit header_icon'></i> </h3>
                                                    </li>
                                                    <li>
                                                        RFID Tag #: {{ pet.rfid }}
                                                    </li>
                                                </ul>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        
                        <div class="row">
                            {% if pet_form %}

                                {% include "healthcat/pet_form.html" with pageToRender="/healthcat/profile" %}
                            {% else %}
                                <div id="{{ bowl.id }}_add_pet_text">
                                    <h3 class="header3 color-555" onClick="add_add_pet_form( '{{ bowl.id }}', '{% url 'add_pet_form' %}'  );" style="cursor: pointer; cursor: hand;"> Add Pet <i class='glyphicon glyphicon-plus header_icon'></i> </h3>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}

                <div class="row">
                    {% if add_bowl_form %}
                        {% include "healthcat/add_bowl_form.html" with pageToRender="/healthcat/profile" %}
                    {% elif edit_bowl_form %}
                        {% include "healthcat/edit_bowl_form.html" with pageToRender="/healthcat/profile" %}
                    {% else %}
                        <div id='add_bowl_text'> 
                            <h2 class="header2 color-555" onClick="add_add_bowl_form('add_bowl_text', '{% url 'add_bowl_form' %}' );" style="cursor: pointer; cursor: hand;"> Add Bowl <i class='glyphicon glyphicon-plus header_icon'></i> </h2>
                        </div>
                    {% endif %}
                </div>
                <hr>
            </div> <!-- col -->
            
        </div> <!-- row -->
    </div>
{% endblock body %}

{% block javascript %}
    <script src="/static/js/profile.js"></script>
{% endblock javascript %}   