{% extends 'healthcat/index.html' %}

{% block title %} 
    Profile 
{% endblock title %}

{% block styles %} 
    <link href="/static/css/tab.css" rel="stylesheet">
    <!--<link rel="stylesheet" href="/static/color_picker/colorPicker.css" type="text/css" />-->
{% endblock styles %}

{% block profileActive %} 
        class="active" 
{% endblock profileActive %}

<!--Body -->
{% block body %}
    {% if modal %}
        {% include modal with pageToRender="/healthcat/profile" %}
    {% endif %}
    <div class="page-container">
        <div id="sidebar" class="col-sm-2 col-md-2">
            {% include "healthcat/owner_profile.html" with pageToRender="/healthcat/profile" %}
        </div> <!-- sidebar -->

        <div class="row">
            <div class="col-sm-9 col-sm-offset-1 col-md-9 col-md-offset-1">
                {% include "healthcat/bowls.html" with pageToRender="/healthcat/profile" %}
                {% include "healthcat/add_bowl_button.html" with pageToRender="/healthcat/profile" %}
                <hr>
            </div> <!-- col -->
        </div> <!-- row -->
    </div>
{% endblock body %}

{% block javascript %}
    <script src="/static/js/profile.js"></script>
    <!--<script language="javascript" type="text/javascript" src="/static/color_picker/jquery.colorPicker.min.js"/></script>-->
{% endblock javascript %}   