{% extends 'healthcat/index.html' %}

{% block title %} 
    Statistics 
{% endblock %}

{% block styles %}
    
{% endblock styles %}

{% block statisticsActive %} 
        class="active" 
{% endblock %}

{% block chart_data %}
    {% load nvd3_tags %}
    {% include_chart_jscss %}
    {% load_chart charttype chartdata chartcontainer extra %}
{% endblock chart_data %}

<!--Body -->
{% block body %}
    <div class="page-container">

        <div class="row">
            <div class="col-md-3">
                <ul class="nav nav-pills nav-stacked">
                    <li role="presentation" class="active"><a href={% url 'consumption_records' %}> Consumption Records </a></li>
                    <li role="presentation"><a href={% url 'consumption_records' %}> Bullying Reports </a></li>
                </ul>
                
            </div>
            <div class="col-md-9 col-md-offset-0">
                {% include_container chartcontainer 400 600 %}
            </div>
        </div>
    </div>
{% endblock body %}

{% block javascript %}
    
{% endblock javascript %}