{% extends 'healthcat/index.html' %}

{% block title %} 
    Statistics 
{% endblock %}

{% block styles %}
    <link href="/static/css/nv.d3.css" rel="stylesheet">
{% endblock styles %}

{% block statisticsActive %} 
        class="active" 
{% endblock %}

{% block chart_data %}
    {% load nvd3_tags %}
    {% include_chart_jscss %}
    {% load_chart charttype chartdata chartcontainer extra %}
{% endblock chart_data %}

<!--Body -->
{% block body %}
    <div class="page-container">

        <div class="row">
            <div class="col-md-3">
                <ul class="nav nav-pills nav-stacked">
                    <li role="presentation" class="active"><a href={% url 'consumption_records' %}> Consumption Records </a></li>
                    <li role="presentation"><a href={% url 'consumption_records' %}> Bullying Reports </a></li>
                </ul>
                
            </div>
            <div class="col-md-9 col-md-offset-0">
                {% include_container chartcontainer 400 600 %}
            </div>
        </div>
    </div>
{% endblock body %}

{% block javascript %}
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="/static/js/nv.d3.min.js"></script>
{% endblock javascript %}